header {
  background-color: slategray;
  color: white;
}

header p {
  font-size: 150%;
}

#header-icon {
  display: inline-block;
  margin: 50px 10px 50px;
}

#header-desc {
  display: inline-block;
  margin: 25px;
}

#header-menu {
  display: inline-block;
  margin: 75px 50px 50px 50px;
}

body {
  background-color: rgb(203, 222, 141);
}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  display: block;
}

button {
  background-color: #9d2f16;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.doctorbutton {
  position: absolute;
  top: 10px;
  right: 250px;
  font-size: 20px;
  background-color: #169d99;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.adminbutton {
  position: absolute;
  top: 10px;
  right: 150px;
  font-size: 20px;
  background-color: #7d6b67;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.pharmbutton {
  position: absolute;
  top: 10px;
  right: 8px;
  font-size: 20px;
  background-color: #557ea4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.pos1 {
  position: absolute;
  top: 20px;
  right: 360px;
}

.pos2 {
  position: absolute;
  top: 20px;
  right: 490px;
}

.pos3 {
  position: absolute;
  top: 20px;
  right: 580px;
}

#subheadline {
  font-size: 60%;
}

p {
  font-size: smaller;
}
.box0{
  border: 1px solid black;
  padding: 10px;
  height: 150px;
}
.box1{
  border: 1px solid black;
  padding: 10px;
  height: 350px;
}
.box2{
  border: 1px solid black;
  padding: 10px;

}
.box3{
  border: 1px solid black;
  padding: 10px;
  height: 510px;
 
}
.box4{
  border: 1px solid black;
  padding: 10px;
 
}
.box5{
  border: 1px solid black;
  padding: 10px;
  height: 100px;
}
#orderButton {
  position: absolute;
  top: 440px;
  left: 20px;
  width: 300px;
  height: 60px;
  font-size: 20px;
 
}
h1 {
  position: absolute;
  top:30px;
  left: 270px;
}
.logo{
  position: absolute;
  top: 10px;
  left: 10px;
  width:20%;
  height: 28%
}
.gsk{
  position: absolute;
  width: 20%;
  height: 30%;
  top: 1200px;
  left: 10px;
}
.kapi{
  position: absolute;
  width: 20%;
  height: 30%;
  top: 1200px;
  left: 350px;
}
.mtiba{
  position: absolute;
  width: 20%;
  height: 30%;
  top: 1200px;
  left: 650px;
}
.kemri{
  position: absolute;
  width: 20%;
  height: 30%;
  top: 1200px;
  left: 950px;
}
.redcross{
  position: absolute;
  width: 20%;
  height: 30%;
  top: 1400px;
  left: 10px;
}
.health{
  position: absolute;
  width: 40%;
  height: 60%;
  top: 180px;
  left: 750px;
}
